
/* css */

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .original-image, .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hover-image {
    opacity: 0;
  }
  
  .image-container:hover .original-image {
    opacity: 0;
  }
  
  .image-container:hover .hover-image {
    opacity: 1;
  }  
  
  
  
  
  