
/* css */

.logo img {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 400px;
    height: auto;
    display: inline-block;
  }

.goggles img {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 400px;
    height: auto;
  }

  .text h2 {
    font-family: 'Forgotten Futurist Rg', sans-serif;
    font-style: italic;
    font-size: 50px;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 25%;
    color: red;
  }

  
  
  
  
  